@charset "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
}
.conteneur{
	animation-duration: 25s;
	  animation-name: couleurquichange;
	  animation-iteration-count: infinite;
	  animation-timing-function: linear;
	

}
.img_fond{
	max-width:100%;
	height: 200px;
    position:relative;

    background: url("../images/bioRelai.png") no-repeat;
	background-size: auto;
	animation-duration: 3s;
  	animation-name: opacit;

}

.header{
	background-color: #554516;
}
nav.menuPrincipal{
	text-align: right;
	background-color:#14c048;
	font-size: 0px;
}

nav.menuPrincipal ul {
	display:  inline;
	list-style: none;
	padding: 0px;
 	margin: 0px;
	font-family: Helvetica; 
}

nav.menuPrincipal ul li {
	display: table-cell;
	text-align: center;
	width: 140px;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;

}

nav.menuPrincipal ul li a {
  text-decoration: none;
  color: white; 
  animation-duration: 1s;
  animation-name: glissade;
  transition: color 2s;
  
}

nav.menuPrincipal ul li a:hover {
  color: rgb(0, 0, 0);
}

nav.menuPrincipal ul li.actif {
  	background-color: ivory;
  	color: black;
  	padding: 10px;
}
#texteBienvenue{
	margin-left: 10%;
}
.card-text{
	margin-top: 10px;
	animation-duration: 1s;
  	animation-name: opacitgentil;

}
#imgbg{
	margin-top: 10px;
	animation-duration: 4s;
  	animation-name: glissadeimage;
}
@keyframes opacit {
	from {
		opacity: 0;
	  width: 0%;
	}
  
	to {
		opacity: 1;
	  margin-left: 0%;
	  width: 100%;
	}
  }
@keyframes glissade {
	from {
		opacity: 0 ;
		margin-left: 100%;
		width: 300%;
	  }
	
	  to {
		opacity: 1;
		margin-left: 0%;
		width: 100%;
	  }
  }
  @keyframes glissadeimage {
	from {
		opacity: 0 ;
		margin-left: 100%;
	  }
	
	  to {
		opacity: 1;
		margin-left: 0%;
	  }
  }
  @keyframes opacitgentil {
	from {
		opacity: 0 ;
	  }
	
	  to {
		opacity: 1;
	  }
  }
  @keyframes couleurquichange {
	0% {
		background-color: #1a4a28;
	}
  
	50% {
		background-color: #14c048;

	}
	100% {
		background-color: #1a4a28;
	}
  }
